NEXT_PUBLIC_GATEWAY_URL=http://127.0.0.1:4000
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:4000
NEXT_PUBLIC_SUPABASE_URL=***REMOVED***
NEXT_PUBLIC_SUPABASE_PROJECT_ID=***REMOVED***
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=***REMOVED***
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=***REMOVED***
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ENABLE_DEMO_AUTH=true
NEXT_PUBLIC_USE_LOCAL_LOYALTY_API=true
NEXT_PUBLIC_USE_REMOTE_LOYALTY_API=false
NEXT_PUBLIC_FORCE_CUSTOMER_DEMO_AUTH=false
POINTS_SERVICE_TIMEOUT_MS=5000
