SCM_GATEWAY_PORT=3011
SCM_GATEWAY_HOST=0.0.0.0
SCM_GATEWAY_URL=http://gateway:3011
SCM_MEMBER_SERVICE_URL=http://member-service:3012
SCM_SEGMENT_SERVICE_URL=http://segment-service:3013
SCM_CAMPAIGN_SERVICE_URL=http://campaign-service:3014
SCM_NOTIFICATION_SERVICE_URL=http://notification-service:3015
SCM_REWARD_SERVICE_URL=http://reward-service:3016
SCM_POINTS_SERVICE_URL=http://points-engine:3017
SCM_GATEWAY_ADMIN_ROLE=admin
