PORT=4000
GATEWAY_URL=http://gateway:4000
MEMBER_SERVICE_URL=http://member-service:4003
SEGMENT_SERVICE_URL=http://segment-service:4004
CAMPAIGN_SERVICE_URL=http://campaign-service:4002
NOTIFICATION_SERVICE_URL=http://notification-service:4005
REWARD_SERVICE_URL=http://reward-service:4006
POINTS_SERVICE_URL=http://points-engine:4001
ADMIN_ROLE=admin
